@model HomeAboutViewModel

<!-- Header Start -->
<div class="container-fluid page-header">
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
            <h3 class="display-4 text-white text-uppercase">About</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" asp-action="Index" asp-controller="Home">Home</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">About</p>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->


<!-- Booking Start -->
<div class="container-fluid booking mt-5 pb-5">
    <div class="container pb-5">
        <div class="bg-light shadow" style="padding: 30px;">
            <form asp-action="Search" asp-controller="Entertainment">
                <div class="row align-items-center" style="min-height: 60px;">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="mb-3 mb-md-0">
                                    <select name="DestinationId" class="custom-select px-4" style="height: 47px;">
                                        <option selected>Destination</option>
                                        @foreach (var destination in Model.Destinations)
                                        {
                                            <option value="@destination.Id">@destination.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3 mb-md-0">
                                    <select name="ServiceCategoryId" class="custom-select px-4" style="height: 47px;">
                                        <option selected>Service</option>
                                        @foreach (var serviceCategory in Model.ServiceCategories)
                                        {
                                            <option value="@serviceCategory.Id">@serviceCategory.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3 mb-md-0">
                                    <select name="ServiceId" class="custom-select px-4" style="height: 47px;">
                                        <option selected>Sub service</option>
                                        @foreach (var service in Model.Services)
                                        {
                                            <option value="@service.Id">@service.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-block" type="submit" style="height: 47px; margin-top: -2px;">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Booking End -->


<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-6" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <div class="position-absolute">
                        <img  src="~/img/output_2.jpg" style="object-fit: cover;">
                        <img src="~/img/Titan (Saturn's Moon).jpg" alt="">
                    </div>
                    <div class="position-absolute">
                        <img src="~/img/Лунаход.jpg" alt="">
                        <img src="~/img/Астероид.jpg" alt="">
                    </div>
                    <div class="position-absolute">
                        <img src="~/img/NASCAR - MARS.jpg" alt="">
                        <img src="~/img/Pluto (Dwarf Planet).jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pt-5 pb-lg-5">
                <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                    <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">OUR DESTINATIONS</h6>
                    <h1 class="mb-3">We Provide Best Tour Packages In Your Budget</h1>
                    <p>Whether you want to enjoy a relaxing vacation on the Moon, witness the majestic rings of Saturn, or participate in scientific research on Mars, we have something for everyone. You can choose from a variety of packages and services that suit your preferences and budget.                       <div class="row mb-4">
                        <div class="col-6">
                            <img class="img-fluid-1" src="~/img/квардрациклы на марсе.jpg" alt="">
                        </div>
                        <div class="col-6">
                            <img class="img-fluid-1" src="~/img/output_532757818_0.jpg" alt="">
                        </div>
                    </div>
                    <a href="" class="btn btn-primary mt-1">Explore</a>
                </div>
            </div>
        </div>
    </div>
</div> 
<!-- About End -->


<!-- Feature Start -->
<div class="container-fluid pb-5">
    <div class="container pb-5">
        <div class="row">
            <div class="col-md-4">
                <div class="d-flex mb-4 mb-lg-0">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
                        <i class="fa fa-2x fa-money-check-alt text-white"></i>
                    </div>
                    <div class="d-flex flex-column">
                        <h5 class="">Competitive Pricing</h5>
                        <p class="m-0">Magna sit magna dolor duo dolor labore rebum amet elitr est diam sea</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex mb-4 mb-lg-0">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
                        <i class="fa fa-2x fa-award text-white"></i>
                    </div>
                    <div class="d-flex flex-column">
                        <h5 class="">Best Services</h5>
                        <p class="m-0">Magna sit magna dolor duo dolor labore rebum amet elitr est diam sea</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex mb-4 mb-lg-0">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
                        <i class="fa fa-2x fa-globe text-white"></i>
                    </div>
                    <div class="d-flex flex-column">
                        <h5 class="">Worldwide Coverage</h5>
                        <p class="m-0">Magna sit magna dolor duo dolor labore rebum amet elitr est diam sea</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->