@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<!-- Carousel Start -->
<div class="container-fluid p-0">
    <div id="header-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            @{
                var i = 0;
                foreach (var banner in Model.Banners)
                {
                    <div class="carousel-item @(i == 0 ? "active" : "")" style="max-height: 850px;">
                        <img class="w-100" src="~/@banner.CoverUrl" alt="Image">
                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 900px;">
                                <h4 class="text-white text-uppercase mb-md-3">@banner.Category</h4>
                                <h1 class="display-3 text-white mb-md-4">@banner.Title</h1>
                                <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Explore</a>
                            </div>
                        </div>
                    </div>
                    i++;
                }
            }
        </div>
        <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                <span class="carousel-control-prev-icon mb-n2"></span>
            </div>
        </a>
        <a class="carousel-control-next" href="#header-carousel" data-slide="next">
            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                <span class="carousel-control-next-icon mb-n2"></span>
            </div>
        </a>
    </div>
</div>
<!-- Carousel End -->


<!-- Booking Start -->
<div class="container-fluid booking mt-5 pb-5">
    <div class="container pb-5">
        <div class="bg-light shadow" style="padding: 30px;">
            <form asp-action="Search" asp-controller="Entertainment">
                <div class="row align-items-center" style="min-height: 60px;">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="mb-3 mb-md-0">
                                    <select name="DestinationId" class="custom-select px-4" style="height: 47px;">
                                        <option selected>Destination</option>
                                        @foreach (var destination in Model.Destinations)
                                        {
                                            <option value="@destination.Id">@destination.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3 mb-md-0">
                                    <select name="ServiceCategoryId" class="custom-select px-4" style="height: 47px;">
                                        <option selected>Service</option>
                                        @foreach (var serviceCategory in Model.ServiceCategories)
                                        {
                                            <option value="@serviceCategory.Id">@serviceCategory.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3 mb-md-0">
                                    <select name="ServiceId" class="custom-select px-4" style="height: 47px;">
                                        <option selected>Sub service</option>
                                        @foreach (var service in Model.Services)
                                        {
                                            <option value="@service.Id">@service.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-block" type="submit" style="height: 47px; margin-top: -2px;">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Booking End -->



<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-6" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <div class="position-absolute">
                        <img  src="~/img/home/output_2.jpg" style="object-fit: cover;">
                        <img src="~/img/home/Titan (Saturn's Moon).jpg" alt="">
                    </div>
                    <div class="position-absolute">
                        <img src="~/img/home/Астероид.jpg" alt="">
                        <img src="~/img/home/Лунаход.jpg" alt="">
                    </div>
                    <div class="position-absolute">
                        <img src="~/img/home/NASCAR - MARS.jpg" alt="">
                        <img src="~/img/home/Pluto (Dwarf Planet).jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pt-5 pb-lg-5">
                <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                    <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">OUR DESTINATIONS</h6>
                    <h1 class="mb-3">We Provide Best Tour Packages In Your Budget</h1>
                    <p>Whether you want to enjoy a relaxing vacation on the Moon, witness the majestic rings of Saturn, or participate in scientific research on Mars, we have something for everyone. You can choose from a variety of packages and services that suit your preferences and budget.                       <div class="row mb-4">
                        <div class="col-6">
                            <img class="img-fluid-1" src="~/img/home/квардрациклы на марсе.jpg" alt="">
                        </div>
                        <div class="col-6">
                            <img class="img-fluid-1" src="~/img/home/output_532757818_0.jpg" alt="">
                        </div>
                    </div>
                    <a href="" class="btn btn-primary mt-1">Explore</a>
                </div>
            </div>
        </div>
    </div>
</div> 
<!-- About End -->


<!-- Feature Start -->
<div class="container-fluid pb-5">
    <div class="container pb-5">
        <div class="row">
            <div class="col-md-4">
                <div class="d-flex mb-4 mb-lg-0">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
                        <i class="fa fa-2x fa-money-check-alt text-white"></i>
                    </div>
                    <div class="d-flex flex-column">
                        <h5 class="">Competitive Pricing</h5>
                        <p class="m-0">Magna sit magna dolor duo dolor labore rebum amet elitr est diam sea</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex mb-4 mb-lg-0">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
                        <i class="fa fa-2x fa-award text-white"></i>
                    </div>
                    <div class="d-flex flex-column">
                        <h5 class="">Best Services</h5>
                        <p class="m-0">Magna sit magna dolor duo dolor labore rebum amet elitr est diam sea</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex mb-4 mb-lg-0">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
                        <i class="fa fa-2x fa-globe text-white"></i>
                    </div>
                    <div class="d-flex flex-column">
                        <h5 class="">Worldwide Coverage</h5>
                        <p class="m-0">Magna sit magna dolor duo dolor labore rebum amet elitr est diam sea</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->

<!-- Destination Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Destination</h6>
            <h1>Explore Top Destination</h1>
        </div>
        <div class="row">
            @foreach (var destination in Model.Destinations)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="destination-item position-relative overflow-hidden mb-2">
                        <img class="img-fluid" src="~/@destination.CoverUrl" alt="">
                        <a class="destination-overlay text-white text-decoration-none" asp-controller="Destination" asp-action="Detail" asp-route-id="@destination.Id">
                            <h5 class="text-white">@destination.Name</h5>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Destination Start -->
<!-- Service Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Services</h6>
            <h1>Tours & Travel Services</h1>
            
        </div>
        <div class="row">
            @foreach (var service in Model.ServiceCategories)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="service-item bg-white text-center mb-2 py-5 px-4">
                        <a asp-controller="ServiceCategory" asp-action="Detail" asp-route-id="@service.Id"> <i class="fa fa-2x @(service.Icon) mx-auto mb-4"></i></a>
                        <h5 class="mb-2">@service.Name</h5>
                        <p class="m-0">@service.Description</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Service End -->

<!-- About Start -->

<div class="container">
    <div class="row">
        <div class="col-lg-12 pt-5 pb-lg-5">
            <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">About Us</h6>
                <div class="row mb-4">
                    <div class="col-6">
                        <h1>
                            Mission:
                        </h1>
                        <p>We are committed to transforming space tourism into an extraordinary experience that transcends boundaries and enables ordinary people to realize their dreams of venturing beyond Earth's confines.
                        </p>
                        <img class="img-fluidd" src="~/img/home/photo_2023-10-08_16-42-23.jpg" >
                    </div>
                    <div class="col-6">
                        <h1>
                            Vision:
                        </h1>
                        <p>Our vision is to be at the forefront of the space tourism industry, leading the way in pioneering new frontiers, technologies, and experiences. We envision a future where space travel becomes an integral part of human life, inspiring awe, fostering scientific curiosity, and reshaping our perception of our place in the universe.
                        </p>
                        <img class="img-fluid" src="~/img/home/photo_2023-10-08_16-42-51.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About End -->

 <!-- Feature Start -->
 <div class="feature-start">
    <h1>
        Values:
    </h1>
    <div class="container-fluid pb-5">
        <div class="container pb-5">
            <div class="row">
                
                <div class="col-md-4">
                    <div class="d-flex mb-4 mb-lg-0">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
                            <i class="fa fa-2x fa-money-check-alt text-white"></i>
                        </div>
                        
                        <div class="d-flex flex-column">
                            <h5 class="">Pioneering Spirit:</h5>
                            <p class="m-0">We embrace a pioneering spirit, pushing the boundaries of what is possible and challenging conventional notions of space tourism. We continuously seek innovative solutions to make space travel more accessible and captivating for all.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex mb-4 mb-lg-0">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
                            <i class="fa fa-2x fa-award text-white"></i>
                        </div>
                        <div class="d-flex flex-column">
                            <h5 class="">Safety and Reliability:</h5>
                            <p class="m-0"> Ensuring the safety and well-being of our passengers is paramount. We adhere to the highest standards of safety protocols, employing cutting-edge technologies and rigorous testing to provide a secure and reliable space travel experience.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="d-flex mb-4 mb-lg-0">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
                            <i class="fa fa-2x fa-globe text-white"></i>
                        </div>
                        <div class="d-flex flex-column">
                            <h5 class=""> Exploration and Discovery:</h5>
                            <p class="m-0">We recognize space travel as an opportunity for exploration and discovery. By facilitating close encounters with celestial bodies and unique extraterrestrial environments, we aim to foster scientific curiosity, inspire wonder, and enhance our understanding of the universe.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
 </div>
    <!-- Feature End -->