@model HomeServicesViewModel

<!-- Header Start -->
<div class="container-fluid page-header">
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
            <h3 class="display-4 text-white text-uppercase">Services</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" asp-action="Index" asp-controller="Home">Home</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">Services</p>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->


<!-- Booking Start -->
<div class="container-fluid booking mt-5 pb-5">
    <div class="container pb-5">
        <div class="bg-light shadow" style="padding: 30px;">
            <form asp-action="Search" asp-controller="Entertainment">
                <div class="row align-items-center" style="min-height: 60px;">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="mb-3 mb-md-0">
                                    <select name="DestinationId" class="custom-select px-4" style="height: 47px;">
                                        <option selected>Destination</option>
                                        @foreach (var destination in Model.Destinations)
                                        {
                                            <option value="@destination.Id">@destination.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3 mb-md-0">
                                    <select name="DurationId" class="custom-select px-4" style="height: 47px;">
                                        <option selected>Service</option>
                                        @foreach (var serviceCategory in Model.ServiceCategories)
                                        {
                                            <option value="@serviceCategory.Id">@serviceCategory.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3 mb-md-0">
                                    <select name="DurationId" class="custom-select px-4" style="height: 47px;">
                                        <option selected>Sub service</option>
                                        @foreach (var service in Model.Services)
                                        {
                                            <option value="@service.Id">@service.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-block" type="submit" style="height: 47px; margin-top: -2px;">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Booking End -->


<!-- Service Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Services</h6>
            <h1>Tours & Travel Services</h1>
            
        </div>
        <div class="row">
            @foreach (var service in Model.ServiceCategories)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="service-item bg-white text-center mb-2 py-5 px-4">
                        <a asp-controller="ServiceCategory" asp-action="Detail2" asp-route-id="@service.Id"> <i class="fa fa-2x @(service.Icon) mx-auto mb-4"></i></a>
                        <h5 class="mb-2">@service.Name</h5>
                        <p class="m-0">@service.Description</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Service End -->